h1 {
    text-align: center;
    font-size: 75px;
}
.board {
   display: grid;
   grid-template-columns: 200px 200px 200px;
   margin-left: 330px;
   cursor: pointer;
}
.box {
    height: 200px;
    width: 200px; 
    position: relative;
}
.set {
    font-size: 200px;
    position: absolute;
    left: 15%;
    color: white;
}

#box1 {
    background-color: black;
}

#box3 {
    background-color: black;
}

#box5 {
    background-color: black;
}

#box7 {
    background-color: black;
}

#box9 {
    background-color: black;
}

#box2 {
    background-color: red;
}

#box4 {
    background-color: red;
}

#box6 {
    background-color: red;
}

#box8 {
    background-color: red;
}

.whosTurn {
    text-align: center;
    font-size: 40px;
    margin-top: 0px;
}

.winner {
    text-align: center;
    font-size: 35px;
}

#box1:hover {
    background-color: blue;
}

#box3:hover {
    background-color: blue;
}

#box2:hover {
    background-color: blue;
}

#box4:hover {
    background-color: blue;
}
#box5:hover {
    background-color: blue;
}

#box6:hover {
    background-color: blue;
}
#box7:hover {
    background-color: blue;
}

#box8:hover {
    background-color: blue;
}
#box9:hover {
    background-color: blue;
}

